*,
*::before,
*::after{
    box-sizing: border-box;
}



:root{
    
    --clr-text: #030104;
    --clr-text-lessopacity: #424242;

    --clr-nav-bar-color: #62645B;

    --clr-background-color: #292D32;
    --clr-primary-color: #01BCD6;
    --clr-button-color: #6C70DC;
    
    --clr-light: #FFF;
    --clr-dark: #000;


    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    

}


body {
  
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;

    height: 100vh;



}

.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 260px;
    height: 100vh;
    overflow: hidden;
    transition: all 0.5s ease;
    background: var(--clr-background-color);
    padding-bottom: 60px;

}

.sidebar.minimized {
    width: 84px;
}

/* 

.sidebar:hover {
    width: 260px;
    transition: 0.5s;
} 
*/



.logo {
    height: 100px;
    padding: 32px 24px;
   


}

.logo img {
    width:150px;

}


.menu {
    height: 88%;
    position: relative;
    padding: 0;
}


.menu a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}


.menu i {

    color: var(--clr-nav-bar-color);
    font-size: 24px;
 
}

.menu span {
    color: var(--clr-nav-bar-color);
    font-size: 1rem;
    font-weight: var(--fw-medium);
} 





.menu li {
  
    list-style: none;
    transition: all 0.5s ease-in-out;
    padding: 16px 0 16px 32px;
    margin-bottom: 8px;
    

}

.menu li:hover, .active  {
    background: #33373C;
    
}




li a i {
    transition: all 0.5s ease-in-out;
}

li a span {
     transition: all 0.5s ease-in-out;
    
}

li:hover a i {
    color: var(--clr-primary-color);
}


li.active a i {
    color: var(--clr-primary-color);
}


li:hover a span {
    color: var(--clr-light);
}


li.active a span {
    color: var(--clr-light); 
}





.logout {
 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

}

.logout button {
    background-color: transparent;
    border: none;
    outline: none;
}







.main--content {
    position: relative;
    background-color: white; 
    
    width: 100%;
    padding: 32px 40px;


}






.header--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {

    display: flex;
    align-items: center;
}

.header-title p {
    color: #424242;
    font-size: 36px;
    font-weight: var(--fw-bold);
}

.header-title span {
    font-size: 36px;
    font-weight: var(--fw-bold);
    color: var(--clr-primary-color);
}

.menu-search {
    display: flex;
    align-items: center;
    gap:24px;
}

.bx-menu {
    font-size: 24px;
    cursor: pointer;
}


.profile-icon {
    width: 48px;
    height: 48px;
    border: 1px solid var(--fw-light);
    border-radius: 24px;
    background-image: url(images/PROFILE.png);
}

.user--info {
    display: flex;
    align-items: center;
    gap: 24px;
    
}

.user--info i{
    font-size: 20px;
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 24px;

}



.notification { 
    position: relative;
}


.notification .num {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #FFF;
    background-color: var(--clr-primary-color);
    color: var(--clr-light);
    font-size: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.search-box {
    width: 600px;
    height: 48px;
    background-color: #F5F6F8;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px 0 8px;
    gap: 8px;

    color: var(--clr-dark);
}
.search-box i {
    cursor: pointer;
    transition:  all 0.5s ease-in-out;
    font-size: 16px;

   
}


.search-box i:hover {
    transform: scale(1.5);
}
.search-box input {
    border: transparent none;
    outline: none;
    margin: 0;
    padding: 0;
    background: transparent;
    padding: 10px;
    font-family: Poppins, sans-serif;
    font-weight: var(--fw-regular);
    font-size:16px;
}







.first-container {
    display: flex;
    gap: 36px;
    align-items: start;
}

.container1 {
    margin-top: 40px;
}

.Title-1 {
    font-size: 21px;
    font-weight: var(--fw-semibold);
    color: var(--clr-text-lessopacity);
    margin: 0;
}




.divider {
    border-top: 1px solid #E9E9E9;
    
    }   
    

.payments {
    position: relative;
    
    display: flex;
    flex-direction: column;
    gap: 28px;
    border-radius: 8px;
    border: 1px solid #CCC;

    padding: 36px;

}


.paymentContainer{

    display: flex;
    flex-direction: column;
    gap: 24px;

   
}

    

.paymentContainer label {

    display: flex;
    gap: 24px;
}

.confirm-button {
    position: absolute;
    bottom: 36px;
    right: 36px;


}

.confirm-button button {
    border: none;
    outline: none;
    border-radius: 8px;
 
    background: #6C70DC;
    padding: 16px 32px;

    font-family: 'Poppins', sans-serif;
    font-weight: var(--fw-semibold);
    color: white;
}



.Description p, span {
    margin: 0;

}
.Description span {
    color: #424242;
    font-size: 12px;
    font-weight: var(--fw-regular);
}
.Description p{
    letter-spacing: 1.6px;
    font-weight: var(--fw-semibold);
}



.form-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.form-container h2 {
    margin: 0;
   
}

.form-field label {
    font-family: 'Poppins', sans-serif;
}

.form-field input  {
    margin-left: 16px;
    border-radius: 6px;
    border: 1px solid #CCC;
    padding: 12px;
    font-family: 'Poppins', sans-serif;
}


.container2 {
    margin-top: 40px;
}

.container2 p {
    font-size: 21px;
    font-weight: var(--fw-semibold);
    color: var(--clr-text-lessopacity);
    margin: 0;
    opacity: 0;
}
.second-container {
    display: flex;
    gap: 36px;
    align-items: start;
}
.container3 {
    margin-top: 40px;
    
}

.doc-1 {
    font-size: 21px;
    font-weight: var(--fw-semibold);
    color: var(--clr-text-lessopacity);
    margin: 0;
}

.doc-c {
    font-size: 20px;
    font-weight: var(--fw-semibold);
    color: var(--clr-text-lessopacity);
    margin: 0;
}
.ol {
     
    margin: 1;
}

.container4 {
    margin-top: 40px;
}

.phar {
    font-size: 20px;
    font-weight: var(--fw-semibold);
    color: var(--clr-text-lessopacity);
    margin: 0;
}
.Time p, span {
    margin: 0;
}
.Date p, span {
    margin: 0;
}
.Note p, span {
    margin: 0;
}
.Time p {
    font-weight: var(--fw-semibold);
}
.Date p {
    font-weight: var(--fw-semibold);
}
.Note p {
    font-weight: var(--fw-semibold);
}

